@charset "UTF-8";

/* ========== RESET ========== */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
body {
    background-color: #CACFD6;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
/* CABEÇALHO */
.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
    background-color: #517664;
    margin-bottom: 4%;
}
.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo-cabecalho.png) center center/56px no-repeat;
    font-size: 0;
}
.btn-social {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.0em;
}
.btn-social:hover {
    font-size: 1.5em;
}
/* MENU SOCIAL ATÉ 960PX */
.menu-social {
    display: none;
    width: 80%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
}
.btn-close {
    font-size: 3em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-right: 5%;
    margin-top: 2%;
}
.menu-social ul {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 25%;
}
.menu-social li {
    padding: 2%;
    font-size: 2em;
    letter-spacing: 0.1em;
}
.menu-social i {
    color: #fff;
    margin-left: 2%;
}
.menu-social li a:hover {
    background-color: #9FD8CB;
    color: #000000;
    padding: 2%;
}
/* MENU SOCIAL */
.desktop-social {
    display: none !important;
    float: right;
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 2.1em;
    margin-right: 5%;
    margin-top: 0.2%;
}
.desktop-social a {
    margin-right: 10%;
    cursor: pointer;
}
/* NAVBAR COM DROPDOWN */
.navbar {
    display: flex;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(86, 86, 86, 0.25);
}
.item-navbar {
    width: 20%;
    background-color: #ffffff;
    padding: 3% 1%;
    color: #000000;
    font-size: 0.8em;
    border-right: 1px solid rgba(86, 86, 86, 0.25);
    text-transform: uppercase;
}
.item-navbar:first-child {
    width: 23%;
}
.item-navbar:last-child {
    border-right: none;
}
.item-navbar-central {
    width: 20%;
    background-color: rgb(241, 241, 241);
    padding: 2% 3%;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    border-right: 1px solid rgba(86, 86, 86, 0.25);
}
#navbar-dropdown {
    display: flex;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(86, 86, 86, 0.25);
    border-top: none;
}
.item-dropdown {
    width: 50%;
    background-color: #e9e9e9;
    padding: 2% 3%;
    color: #000000;
    text-transform: uppercase;
}
/* MAIN */
/* ASIDE */
.hoje {
    margin-top: 4%;
}
.hoje h4 {
    text-align: center;
    text-transform: uppercase;
}
.painel-agora {
    width: 90%;
    background-color:#517664;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding: 1% 2%;
    border-radius: 3px;
    color: #ffffff;
}
.painel-em-breve {
    width: 90%;
    background-color: #517664;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 2%;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #ffffff;
    border-radius: 3px;
}
.agora {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    padding: 3% 3%;
    color: #585858;
    border-radius: 3px;
}
.agora h4 {
    text-align: left;
    font-weight: 700;
}
.agora p {
    font-size: 0.7em;
}
.em-breve {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    padding: 3% 3%;
    color: #585858;
    border-radius: 3px;
}
.em-breve h4 {
    text-align: left;
    font-weight: 700;
}
.em-breve p {
    font-size: 0.7em;
}
/* SECTION */
.artigos {
    margin-top: 4%;
}
.painel-ultimas-noticias {
    width: 90%;
    background-color: #517664;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 2%;
    margin-top: 4%;
    color: #ffffff;
    border-radius: 3px;
}
.painel-ultimas-noticias h4 {
    text-align: center;
    text-transform: uppercase;
}
.container-artigos {
    width: 90%;
    background-color: #f2f2f2;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.preview-artigo {
    width: 100%;
    border-bottom: 1px solid rgba(86, 86, 86, 0.25);
    padding: 2% 2%;
}
.preview-artigo h2 {
    font-weight: 700;
    font-size: 1em;
    color: #585858;
}
.preview-artigo p {
    font-weight: 200;
    font-size: 0.8em;
    text-align: justify;
    color: #585858;
}
.conteudo-preview {
    width: 100%;
}
.btn-full-article {
    color: #585858;
    background-color: rgb(218, 218, 218);
    padding: 1% 1%;
    border-radius: 3px;
    font-size: 0.8em;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}
/* RODAPÉ */
.rodape {
    width: 100%;
    float: left;
    padding: 3% 4%;
    margin-top: 6%;
    text-align: center;
    background-color: #517664;
}
.logo-rodape {
    margin-top: -10%;
}
.social-icons {
    margin-top: -10%;
}
.social-icons a {
    font-size: 1.5em;
    margin-right: 5%;
}
.social-icons a:last-child {
    margin-right: 0%;
}
.copyright {
    margin-top: 2%;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
}
/* BREAKPOINTS */
/* SMARTPHONES MIN-WIDHT: 360PX */
@media screen and (min-width: 360px) {
    .menu-social {
        width: 83%;
    }
    .btn-close {
        margin-right: 6%;
        margin-top: 1%;
    }
    .menu-social li {
        padding: 3%;
        font-size: 2.5em;
    }
    .item-navbar {
        padding: 3% 1%;
        font-size: 1.0em;
    }
    .item-navbar:first-child {
        width: 23%;
    }
    .item-navbar-central {
        padding: 3% 1%;
    }
    .agora p {
        font-size: 0.8em;
    }
    .em-breve p {
        font-size: 0.8em;
    }
    .preview-artigo p {
        font-size: 0.9em;
    }
    .btn-full-article {
        font-size: 0.9em;
    }
    .copyright {
        font-size: 0.9em;
    }
}
/* SMARTPHONES MIN-WIDHT: 480PX */
@media screen and (min-width: 480px) {
    .menu-social {
        width: 85%;
    }
    .menu-social li {
        padding: 3%;
        font-size: 3.0em;
    }
    .item-navbar {
        font-size: 1.1em;
    }
    .item-navbar-central i {
        line-height: normal;
    }
    .item-dropdown {
        font-size: 1.3em;
    }
    .painel-agora h4 {
        font-size: 1.3em;
    }
    .painel-em-breve h4 {
        font-size: 1.3em;
    }
    .agora h4 {
        font-size: 1.1em;
    }
    .agora p {
        font-size: 0.9em;
    }
    .em-breve h4 {
        font-size: 1.1em;
    }
    .em-breve p {
        font-size: 0.9em;
    }
    .painel-ultimas-noticias h4 {
        font-size: 1.3em;
    }
    .preview-artigo h2 {
        font-size: 1.2em;
        text-transform: uppercase;
    }
    .preview-artigo p {
        font-size: 1.0em;
    }
    .btn-full-article {
        font-size: 1.0em;
    }
    .logo-rodape {
        margin-bottom: none;
        margin-top: -8%;
    }
    .social-icons {
        margin-top: -5%;
    }
    .copyright {
        font-size: 1.0em;
    }
}
/* TABLETS MIN-WIDHT: 768PX */
@media screen and (min-width: 768px) {
    .btn-social {
        font-size: 1.5em;
    }
    .btn-social:hover {
        font-size: 0px;
    }
    .menu-social {
        width: 100%;
    }
    .menu-social ul {
        margin-top: 10%;
    }
    .menu-social li {
        padding: 3%;
        font-size: 3.5em;
        letter-spacing: 0.1em;
    }
    .menu-social i {
        margin-left: 3%;
    }
    .item-navbar {
        font-size: 1.3em;
    }
    .item-navbar-central {
        font-size: 1.2em;
        line-height: normal;
    }
    .painel-agora h4 {
        font-size: 1.4em;
    }
    .painel-em-breve h4 {
        font-size: 1.4em;
    }
    .agora h4 {
        font-size: 1.2em;
    }
    .agora p {
        font-size: 1.0em;
    }
    .em-breve h4 {
        font-size: 1.2em;
    }
    .em-breve p {
        font-size: 1.0em;
    }
    .painel-ultimas-noticias h4 {
        font-size: 1.4em;
    }
    .logo-rodape {
        margin-top: -6%;
        margin-bottom: -9%;
    }
    .social-icons {
        margin-top: 5%;
    }
    .social-icons a {
        font-size: 1.9em;
    }
}
/* TABLETS & DESKTOPS MIN-WIDHT: 960PX */
@media screen and (min-width: 960px) {
    .btn-social {
        display: none;
    }
    .desktop-social {
        display: flex !important;
    }
    .navbar {
        display: flex;
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgba(86, 86, 86, 0.25);
    }
    .item-navbar {
        width: 16.6666666667%;
        font-size: 1.4em;
        border-right: 1px solid rgba(86, 86, 86, 0.25);
        text-transform: uppercase;
    }
    .item-navbar:first-child {
        width: 16.6666666667%;
    }
    .item-navbar-desktop {
        display: block !important;
        width: 16.6666666667%;
        background-color: #ffffff;
        padding: 3% 1%;
        color: #000000;
        font-size: 1.4em;
        border-right: 1px solid rgba(86, 86, 86, 0.25);
        text-transform: uppercase;
    }
    .item-navbar-central {
        display: none;
    }
    #navbar-dropdown {
        display: none !important;
    }
}
/* DESKTOPS MIN-WIDHT: 1280PX */
@media screen and (min-width: 1280px) {
    br {
        display: block !important;
    }
    /* CABEÇALHO */
    .cabecalho {
        padding: 2% 4%;
    }
    .logo {
        width: 64px;
        height: 64px;
        background: url(../img/logo-cabecalho.png) center center/64px no-repeat;
        margin-left: 1%;
    }
    .desktop-social {
        font-size: 2.5em;
        line-height: 64px;
        margin-right: 7%;
    }
    .desktop-social a {
        margin-right: 20%;
    }
    /* NAVBAR */
    .item-navbar {
        width: 14.2857142857%;
        font-size: 1.5em;
        padding: 1% 1%;
    }
    .item-navbar:hover {
        background-color: #cccccc;
    }
    .item-navbar:first-child {
        width: 14.2857142857%;
    }
    .item-desktop-inicio {
        display: block !important;
        width: 14.2857142857%;
        background-color: #ffffff;
        padding: 1% 1%;
        color: #000000;
        font-size: 1.5em;
        border-right: 1px solid rgba(86, 86, 86, 0.25);
        text-transform: uppercase;
    }
    .item-desktop-inicio:hover {
        background-color: #cccccc;
    }
    .item-navbar-desktop {
        width: 14.2857142857%;
        padding: 1% 1%;
        font-size: 1.5em;
    }
    .item-navbar-desktop:hover {
        background-color: #cccccc;
    }
    .img-navbar {
        width: 48px;
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        display: inline !important;
    }
    /* ASIDE */
    .hoje {
        margin-top: 25%;
        float: right;
        width: 20%;
        margin-right: 5%;
    }
    .painel-agora {
        width: 100%;
    }
    .painel-em-breve {
        width: 100%;
    }
    .agora {
        width: 100%;
    }
    .agora p {
        font-size: 0.8em;
    }
    .em-breve {
        width: 100%;
    }
    .em-breve p {
        font-size: 0.8em;
    }
    /* SECTION */
    .painel-ultimas-noticias {
        width: 67%;
        margin-left: 5%;
        float: left;
    }
    .container-artigos {
        width: 67%;
        margin-top: 1%;
        margin-left: 5%;
        float: left;
    }
    .preview-artigo h2 {
        font-size: 1.3em;
    }
    .preview-artigo p {
        font-size: 1.0em;
    }
    .conteudo-preview {
        width: 80%;
    }
    .data-artigo {
        display: block !important;
        width: 35%;
        background-color: #dadada;
        color: #585858;
        padding: 0% 1%;
        margin-bottom: 1%;
        text-align: center;
    }
    .img-preview {
        display: block !important;
        width: 18%;
        float: right;
        margin-top: 6%;
    }
    .btn-full-article {
        font-size: 0.9em;
        width: 40%;
        margin-left: 0%;
        margin-top: 2%;
    }
    .btn-full-article:hover {
        background-color: transparent;
        border: 1px solid #585858;
    }
    /* RODAPÉ */
    .logo-rodape {
        margin-top: -5%;
    }
    .social-icons {
        margin-top: 6%;
        margin-bottom: -2%;
    }
    .social-icons a {
        font-size: 2.3em;
    }
    .copyright {
        margin-top: 2%;
    }
}